bcrypt==3.1.4
cffi==1.11.5
Django==2.1.1
django-filter==1.1.0
djangorestframework==3.8.2
git+https://github.com/soynatan/django-easy-audit@3518a7b3d6225f6b0340c920ebedfad9490eafe1
django-session-security==2.6.1
gunicorn==19.9.0
psycopg2-binary==2.7.5
pycparser==2.19
pytz==2018.5
six==1.11.0
arrow==0.12.1
django-health-check==3.7.0
django-fernet-fields==0.5
django-auth-ldap==1.7.0
python-ldap==3.1.0
boto3==1.9.14