{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<style>
  * { font-family: "Avenir Next"; }
  .header {background-color: white; padding: 15px; margin: 0px;}
  .subheader { background-color: #5F636B; align-items: center; padding: 20px;}
  .subheader-text { font-size: xx-large; color: #FFFFFF; text-align: center; margin: 0px; }
  .logo { height: 60px; }
  .container { background-color: #E3E3E3; padding: 40px; }
  body { background-color: #E3E3E3; margin: 0px;}
  p { font-size: large; }
</style>
</head>
<body>

  <div class="header">
    <img class="logo" alt="Curiosity Health" src="{{ protocol }}://{{ domain }}{% static 'img/full_logo.png' %}">
  </div>

  <div class="subheader">
    <p class="subheader-text">Reset Your Password</p>
  </div>

  <div class="container">
    <p>Hi,</p>
    <p>To initiate the password reset process for your Curiosity Health LS2 account,
    click the link below:</p>

    {% autoescape off %}
    <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    {% endautoescape %}

    <p>If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.</p>

    <p>
    Sincerely,</br>
    Your friends at Curiosity Health
    </p>
  </div>

</body>
</html>
