{% extends 'base.html' %}

{% block content %}
  <div class="row ls2-subheader">
    <p class="ls2-subheader-text">Your password has been changed.</p>
  </div>
  <div class="row ls2-subcontainer">
    <div class="col-md-6 center-block">
      <p class="ls2-body-text">
        {% if user.is_authenticated %}
          {% if user.researcher %}
          <a href="{% url 'researcher_home' %}">Go Home</a> now.
          {% else %}
          <a href="{% url 'admin:index' %}">Go Home</a> now.
          {% endif %}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
