{% extends 'base.html' %}

{% block content %}

  <div class="row ls2-subheader">
    <p class="ls2-subheader-text">Add participants to {{ study.name }}</p>
  </div>

  <div class="row ls2-subcontainer">
    <div class="col-md-6 center-block">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group row">
              {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
              <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
              <div class="col-sm-10">
                {% if field.id_for_label == "id_password1" %}
                <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" placeholder="{{ field.label }}" required>
                {% elif field.id_for_label == "id_password2" %}
                <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" placeholder="{{ field.label }}" required>
                {% else %}
                <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" placeholder="{{ field.label }}" required>
                {% endif %}
              </div>

          </div>
      {% endfor %}
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input type="submit" class="btn ch-button" value="Submit" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </div>
      {% for field in form %}
        {% for error in field.errors %}
          <h4><p class="label label-danger center-block">{{ error }}</p></h4>
        {% endfor %}
      {% endfor %}
      </form>
    </div>
  </div>

  {% include "study_management/participant_table.html" with study=study participants=participants sort=sort data_export_enabled=False request=request only %}

{% endblock %}
