
<div class="row ls2-subcontainer">
  <div class="col-md-8 center-block">
    <table class="table table-borderd ls2-table" style="width:100%">
      <tr>
        {% if sort == 'username' %}
        <th><a href="{{request.path }}?sort=-username">Username</a></th>
        {% else %}
        <th><a href="{{request.path }}?sort=username">Username</a></th>
        {% endif %}
        {% if sort == 'participant_label' %}
        <th><a href="{{request.path }}?sort=-participant_label">Participant Label</a></th>
        {% else %}
        <th><a href="{{request.path }}?sort=participant_label">Participant Label</a></th>
        {% endif %}
        {% if sort == 'participant_id' %}
        <th><a href="{{request.path }}?sort=-participant_id">Participant ID</a></th>
        {% else %}
        <th><a href="{{request.path }}?sort=participant_id">Participant ID</a></th>
        {% endif %}
        {% if sort == 'date_joined' %}
        <th><a href="{{request.path }}?sort=-date_joined">Date Joined</a></th>
        {% else %}
        <th><a href="{{request.path }}?sort=date_joined">Date Joined</a></th>
        {% endif %}
        {% if sort == 'last_upload' %}
        <th><a href="{{request.path }}?sort=-last_upload">Last Upload</a></th>
        {% else %}
        <th><a href="{{request.path }}?sort=last_upload">Last Upload</a></th>
        {% endif %}
      </tr>

      {% for participant in participants %}
        <tr class="ls2-cell">
          <td>{{ participant.user.username }}</td>
          <td>{{ participant.label }}</td>
          <td>{{ participant.uuid }}</td>
          <td>{{ participant.user.date_joined }}</td>
          <td>{{ participant.last_datapoint_submission_date_string }}</td>
          {% if data_export_enabled %}
            {% if data_download_default %}
            <td><a href="{% url 'study_data_for_participant' study_uuid=study.uuid participant_uuid=participant.uuid %}.json" download>Export Data</a></td>
            {% else %}
            <td><a href="{% url 'study_data_for_participant' study_uuid=study.uuid participant_uuid=participant.uuid %}.json">View Data</a></td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
