{% extends 'base.html' %}

{% block content %}

  <div class="row ls2-subheader">
    <p class="ls2-subheader-text">{{ study.name }}</p>
  </div>

  <div class="row ls2-subcontainer">
    <div class="col-md-6 center-block">
      <p class="ls2-body-text">
        {{ study.description }}
      </p>
    </div>
  </div>

  {% if data_export_enabled %}
  <div class="row ls2-subcontainer">
    <div class="col-md-8 center-block">
      <div class="row">
        <label for="id_username" class="col-md-4 ls2-body-text">Participant Data</label>
        <div class="col-md-6 ls2-body-text">
          {% if data_download_default %}
          <a href="{% url 'all_study_data' study.uuid %}.json" download>Export Study Data</a>
          {% else %}
          <a href="{% url 'all_study_data' study.uuid %}.json">View Study Data</a>
          {% endif %}
        </div>
      </div>
      <div class="row">
          <label for="id_username" class="col-md-4 ls2-body-text">Participant Mapping</label>
          <div class="col-md-6 ls2-body-text">
            {% if data_download_default %}
            <a href="{% url 'participant_mapping' study.uuid %}.json" download>Export Participant Mapping</a>
            {% else %}
            <a href="{% url 'participant_mapping' study.uuid %}.json">View Participant Mapping</a>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
  {% endif %}

  {% if study.participantaccountgenerator_set.count > 0 %}
  {% include "study_management/participant_account_generators_table.html" with study=study only %}
  {% endif %}

  {% if study.tokenbasedparticipantaccountgenerator_set.count > 0 %}
  {% include "study_management/token_based_participant_account_generators_table.html" with study=study only %}
  {% endif %}

  <div class="row ls2-subcontainer">
      <div class="col-md-8 center-block">
        <div class="row">
          <label for="id_username" class="col-md-2 ls2-body-text">Participants</label>
          <div class="col-md-6 ls2-body-text">
            <a href="{% url 'add_participants' study.uuid %}">Add Participant Manually</a>
          </div>
        </div>
      </div>
    </div>

  {% include "study_management/participant_table.html" with study=study participants=participants sort=sort data_export_enabled=data_export_enabled data_download_default=data_download_default request=request only %}

{% endblock %}
