{% extends 'base.html' %}

{% block content %}

  <div class="row ls2-subheader">
    <p class="ls2-subheader-text">{{generator.description}}</p>
  </div>

  <div class="row ls2-subcontainer">
    <div class="col-md-8 center-block">
      <table class="table table-borderd ls2-table" style="width:100%">
        <tr>
          <th>Generator ID</th>
          <th>Token Format</th>
          <th>Token Size</th>
        </tr>
  
        <tr class="ls2-cell">
            <td>{{ generator.uuid }}</td>
            <td>{{ generator.get_token_format_display }}</td>
            <td>{{ generator.token_size }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row ls2-subcontainer">
      <div class="col-md-8 center-block">
        <form method="post">
          {% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="submit" class="btn ch-button" value="Create New Token" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
          <p class="btn ch-button"><a href="{% url 'study_detail' study.uuid %}">Back To Study</a></p>
        </div>
        </form>
      </div>
    </div>

    {% if view_token %}

      <div class="row ls2-subcontainer">
        <div class="col-md-8 center-block">
          <table class="table table-borderd ls2-table" style="width:100%">
            <tr class="ls2-cell">
                <th>Token</th>
                {% if obfuscate_token %}
                <td>{{ view_token.redacted_token}}</td>
                {% else %}
                <td>{{ view_token.token }}</td>
                {% endif %}
            </tr>
            <tr class="ls2-cell">
                <th>Username</th>
                <td>{{ view_token.username }}</td>
            </tr>
            <tr class="ls2-cell">
                <th>Created</th>
                <td>{{ view_token.created_date_time }}</td>
            </tr>
            <tr class="ls2-cell">
                <th>Expiration</th>
                <td>{{ view_token.expiration_date_time }}</td>
            </tr>
            <tr class="ls2-cell">
                <th>Used</th>
                {% if view_token.used_date_time %}
                <td>{{ view_token.used_date_time }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% if view_token.url and not obfuscate_token %}
            <tr class="ls2-cell">
                <th>Deep Link</th>
                <td>{{ view_token.url }}</td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>

    {% endif %}

  <div class="row ls2-subcontainer">
    <div class="col-md-8 center-block">
      <table class="table table-borderd ls2-table" style="width:100%">
        <tr>
          <th>Token</th>
          <th>Username</th>
          <th>Created</th>
          <th>Expiration</th>
          <th>Used</th>
        </tr>
  
        {% for token in generator.participantaccounttoken_set.all %}
          <tr class="ls2-cell">
            <td><a href="{% url 'token_based_participant_account_generator' study_uuid=study.uuid generator_uuid=generator.uuid %}?token_id={{token.uuid}}">{{token.redacted_token}}</a></td>
            <td>{{ token.username }}</td>
            <td>{{ token.created_date_time }}</td>
            <td>{{ token.expiration_date_time }}</td>
            {% if token.used_date_time %}
            <td>{{ token.used_date_time }}</td>
            {% else %}
            <td></td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>



{% endblock %}